@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #212121;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: .8;
}

ul {
   list-style: none;
}
/***アイコンフォント***/
.material-symbols-outlined {
    font-variation-settings:
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

 .fill {
 font-variation-settings:
 'FILL' 1
}

/***サイドバー***/
 .sidebar {
     position:fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 244px;
     border-right: 1px solid #ccc;
     padding: 20px;
     display: flex;
     flex-direction: solumn;
 }

 /* ロゴ */
 .logo {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-size: 40px;
    padding-left: .5em;
    margin-bottom: .5em;
 }

 /* グロナビ・サブナビ共通 */
.g-nav a,
.sub-nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px;
}
/***メインエリア***/
main{
    margin-left: 244px;
    /*backgrond: #f1f1f1;*/
    padding: 40px 0;
}

.story-ring {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
    background:
    linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
}